<div class="grid1-container">
  <mat-grid-list [cols]="breakpoint" rowHeight="0.7:0.25" (window:resize)="onResize($event)"  >
    <mat-grid-tile ><img src="https://raw.githubusercontent.com/biel535/Psychodietetyczka/main/src/assets/Coming%20SoOn.png" class="oferta-img"></mat-grid-tile>
    <mat-grid-tile class="discription"  >
      <div>
      <h1>Wykup 1 webinar</h1>
      <p>Zindywidualizowany pod pracowników Twojej firmy</p>
      <p>Bogaty w wiedze praktyczną</p>
      <p>Bazujący na najnowszych doniesieniach naukowych</p>
    </div>
    </mat-grid-tile>
    <mat-grid-tile><img src="https://raw.githubusercontent.com/biel535/Psychodietetyczka/main/src/assets/Coming%20SoOn%20(1).png" class="oferta-img"></mat-grid-tile>
    <mat-grid-tile class="discription">
      <div>
      <h1>Wykup 1 webinar</h1>
      <p>Zindywidualizowany pod pracowników Twojej firmy</p>
      <p>Bogaty w wiedze praktyczną</p>
      <p>Bazujący na najnowszych doniesieniach naukowych</p>
    </div>
    </mat-grid-tile>
    <mat-grid-tile><img src="https://raw.githubusercontent.com/biel535/Psychodietetyczka/main/src/assets/Coming%20SoOn%20(2).png" class="oferta-img"></mat-grid-tile>
    <mat-grid-tile class="discription">
      <div>
      <h1>Wykup 1 webinar</h1>
      <p>Zindywidualizowany pod pracowników Twojej firmy</p>
      <p>Bogaty w wiedze praktyczną</p>
      <p>Bazujący na najnowszych doniesieniach naukowych</p>
    </div>
    </mat-grid-tile>
  </mat-grid-list>
  </div>
