<div class="about">
    <h1 >Marta Biel</h1>
    <h2>Psychodietetyczka</h2>
    <div class="omnie-img">
    <img  src="https://raw.githubusercontent.com/biel535/Psychodietetyczka/main/src/assets/Martabbbbbb.jpg"
          alt="omnie"
          class="omnie-image"
        />
    </div>
    <div class='text-containter'>
      <p>Jestem psychodietetyczką, dietetyczką i szkoleniowcem.
        W swojej pracy skupiam się na całościowym podejściu do zdrowia, aspektach związanych ze zdrowiem fizycznym i psychicznym.
         Od wielu lat pomagam pacjentom zadbać o ich relację z jedzeniem.
         Zarówno podczas szkoleń jak i współprac indywidualnych skupiam się na praktycznej wiedzy,
        życiowych i skutecznych rozwiązaniach mających swoje potwierdzenie w badaniach naukowych.
        Swoje wykształcenie zdobyłam kończąc z wyróżnieniem studia na kierunku
         Dietetyka na Uniwersytecie Medycznym we Wrocławiu oraz poszerzając swoją wiedzę na kierunku
        Psychodietetyka na Uniwersytecie SWPS we Wrocławiu.
        Stale się rozwijam podczas szkoleń, webinarów i konferencji,
         śledząc też na bieżąco najnowsze publikacje naukowe</p>
      <div class="button-but">
      </div>
      </div>
      </div>
