<div class="grid1-container">
<mat-grid-list [cols]="breakpoint" rowHeight="0.8:0.7" (window:resize)="onResize($event)"  >
  <mat-grid-tile><img src="../../../assets/Zmień nawyki, nie dietę..png"></mat-grid-tile>
  <mat-grid-tile class="discription">
    <div>
    <h1>WSPÓŁPRACUJ ZE MNĄ</h1>
    <p>Otrzymasz indywidualny plan treningowy dopasowany do twojego poziomu zaawansowania, a nie gotowiec</p>
    <p>Wezmę pod uwagę Twoje możliwości sprzętowe, na siłowni oraz w domu</p>
    <p>Nauczysz Cię ćwiczyć,  Twoje ciało stanie się silne i zdrowe</p>
    <p> Nie musisz martwić się o technikę – pomogę Ci ją opanować</p>
    <p>Otrzymasz pomoc w diecie, budowie nawyków żywieniowych oraz suplementacji</p>
    <p>Dostaniesz wsparcie, dzięki któremu pokonasz trudne momenty</p>
    <p>Nauczę Cię jak samodzielnie radzić sobie z treningiem i dietą na przyszłość</p>
  </div>
  </mat-grid-tile>
</mat-grid-list>
</div>
